.header {
	width: 100%;
	background-color: #ffffff !important;
	color: #ad6359 !important;
}
.logo {
	display: flex;
	font-family: Work Sans, sans-serif;
	font-weight: 600 !important;
	color: #193d5d !important;
	text-align: left;
}

.menuButton {
	font-family: Work Sans, sans-serif !important;
	font-weight: 700 !important;
	size: 18px !important;
	margin-left: 30px !important;
	text-transform: none !important;
	color: #ad6359 !important;
	text-align: right !important;
}

.toolbarDiv {
	width: 100% !important;
	display: flex !important;
	flex-direction: row !important;
}

.navHeaderBar {
	width: 100% !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between;
}

.drawerContainer {
	padding: 20px 30px !important;
}

.active {
	width: 6px;
	height: 6px;
	background-color: #193d5d;
	color: #193d5d;
	border-radius: 100%;
	margin-right: 10px;
	display: block;
}

.activeTextColor {
	color: #193d5d;
	text-decoration: #193d5d;
}

@media screen and (max-width: 900px) {
	.header {
		padding-left: 0 !important;
	}
}

@media screen and (max-width: 1024px) {
	.menuButton {
		margin-left: 10px !important;
	}

	.active {
		color: #193d5d !important;
	}

	.activeTextColor {
		color: #193d5d !important;
		text-decoration: #193d5d !important;
	}
}
