.footer{
    background-color: #193D5D;
    color: #b3b3b3;
    padding: 3rem 0;
}
ul{
    padding-inline-start: 0;
    list-style-type: none;
}
h2{
    font-weight: 700;
}
h5{
    font-weight: 700;
    color: white;
}
.footer li {
    padding: 5px 0;
}
.footer a {
    color: #b3b3b3;
    font-weight: 500;
}
.footer a:hover {
    text-decoration: none;
    color:white;
}