@import './_variables.scss';

.about {
	background-color: #f8ebef;
	margin: 60px auto;
	> div:first-child {
		margin-bottom: 20px;
	}
	h1 {
		color: $secondary-color;
		font-weight: 900;
		padding: 20px 0;
	}
	p {
		font-size: 22px;
	}
	.maxWidth500 {
		max-width: 500px;
	}

	.img-fluid {
		max-width: 100%;
	}
}
.img-fluidBanner {
	max-width: 100%;
	height: 550px;
	width: 100%;
	object-fit: cover;
}
