@import './_variables.scss';

.about{
    background-color: #F8EBEF;
    padding-bottom: 50px;
    h1{
        color: $secondary-color;
        font-weight: 900;
        padding: 20px 0;
    }
    p{
        font-size: 22px;
    }
    .maxWidth500{
        max-width: 500px;
    }
}
.img-fluid{
    max-width: 100%;
}