@import './_variables.scss';

.about {
	background-color: #f8ebef;
	padding-bottom: 50px;
	h1 {
		color: $secondary-color;
		font-weight: 900;
		padding: 20px 0;
	}
	p {
		font-size: 22px;
	}
	.maxWidth500 {
		max-width: 500px;
	}
}

.titleMargin{
	margin: 30px;
}

.img-fluid {
	max-width: 100%;
}
