@import './_variables.scss';

.footer {
	background-color: $primary-color;
	color: #b3b3b3;
	padding: 2rem 0 1rem 0;
	.link {
		color: #b3b3b3;
		font-weight: 700;
		text-decoration: none;
	}
	.link:hover {
		text-decoration: none;
		color: white;
	}
	h2 {
		font-weight: 800;
	}
	h2,
	h3 {
		margin: 0;
	}
	h3 {
		color: white;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 599px) {
	.footer {
		text-align: center;
	}
	h3 {
		padding-top: 30px;
	}
}
