@import './_variables.scss';

.schedule {
	.scheduleBox {
		background-color: #f3f3f3;
		border-radius: 10px;
		padding: 25px;
	}
	.scheduleImg {
		height: 100px;
		width: 100px;
		border-radius: 10px;
		object-fit: cover;
	}
	.scheduleContent {
		padding-right: 5px;
	}
	.subTitle {
		font-size: 14px;
		font-weight: 500;
		padding: 10px 0;
		margin: 0;
	}
	.subTime {
		font-size: 14px;
		color: $secondary-color;
		margin: 0;
	}
	h4 {
		margin: 0;
		font-weight: 800;
        text-align: left;
	}
	p {
		text-align: left;
	}
	.button {
		margin-top: 6px !important;
		padding: 2px 12px !important;
		background-color: #0069ff !important;
		color: white;
		box-shadow: none !important;
		text-transform: capitalize !important;
		font-size: 14px;
		border-radius: 6px;
	}
	.spacing {
		padding: 10px;
	}
}
