.wrapper {
	text-align: center;
	margin: 60px 0;
}

.teamWrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}

.avatar {
	flex: 1;
	margin: 20px 20px;
	img {
		border-radius: 50%;
		height: 180px;
		transition: transform 0.2s;
	}
	img:hover {
		transform: scale(1.1);
	}
	.name {
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 15px;
		color: inherit;
	}
}
