on: pull_request_review
name: Label approved pull requests
jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{secrets.GH_TOKEN}}
        ADD_LABEL: "hacktoberfest-accepted"
        REMOVE_LABEL: "review%20needed"
    - name: Debugging
      run: echo ${{secrets.GH_TOKEN}}
