.wrapper {
	margin: 0;
	padding: 50px 0;
}

.logoWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.img {
		height: 100px;
		margin: 0 20px;
	}
}

.title {
	color: #ad6359;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 800;
	line-height: 59px;
	letter-spacing: 0em;
	text-align: center;
}
